.modal{
  position: fixed;
  z-index: 5;
  background-color: rgba(255, 255, 255, .94);
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.2);
  transition: all .3s ease-out;

  &__is-visible{
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }

  &__description{
    text-align: center;
    font-size: .8rem;
    font-weight: 300;
    max-width: 250px;
    margin: 5px auto;

    @mixin atSmall{
      font-size: 1.5rem;
      font-weight: 300;
      line-height: 1.65;
      max-width: 100%
    }
  }
  &__close{
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 2rem;
    transform: scaleX(1.2);
    transform-origin: 100% 0;
    color: $mainBlue;

    &:hover{
    color: $mainOrange;
    cursor: pointer;
    }
  }

  &__inner{
    position: absolute;
    width: 100%;
    top: 0;

    @mixin atSmall{
      top: 50%;
      transform: translate(0,-50%);
    }
  }

  &__maker-name{
    display: block;
    opacity: 1;
    font-size: 1.1rem;
    margin: 10px 0;

    @mixin atSmall{
      font-size: 1.5rem;
    }
  }
  &__site-maker{
    display: block;
    overflow: hidden;
    width: 150px;
    height: 150px;
    margin: 0 auto;
    border-radius: 125.5px;

    @mixin atSmall{
      width: 250px;
      height: 250px;
      border-radius: 173px;
    }
  }
}
