.section-title{
  font-size: 2.55rem;
  font-weight: 300;
  text-align: center;

  @mixin atSmall{
    font-size: 3.75rem;
  }

  &__small-fonts{
    font-size: 1.65rem;

    @mixin atSmall{
      font-size: 2.55rem;
    }
  }

  strong{
    font-weight: 500;
  }

  &__icon{
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: .5rem;

    @mixin atSmall{
      position: relative;
      top: 8px;
      margin-right: 0.5rem;
      display: inline-block;
      margin-bottom: 0;
    }
  }

  &__blue{
    color: $mainBlue;
  }

  &__less-margin{
    margin-bottom: 1.3rem;
  }
}
