.wrapper{
  padding-left: 18px;
  padding-right: 18px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  &__medium{
    max-width: 976px;
  }

  &__narrow{
    max-width: 470px;
  }

  &__no-padding-untill-medium{
    padding-left: 0;
    padding-right: 0;
  }

  @mixin atMedium{
    padding-left: 18px;
    padding-right: 18px;
  }

  .wrapper{
    padding-left: 0;
    padding-right: 0;
  }

  &__b-margin{
    margin-bottom: 1rem;

    @mixin atSmall{
      margin-bottom:3.875rem;
    }
  }
}
